<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title><%= name %> | Y2Plush</title>
  </head>
  <body
    class="font-montserrat text-text-light fill-text-light from-secondary to-secondary-dark min-h-screen w-full bg-linear-to-b before:pointer-events-none before:fixed before:inset-0 before:-z-10 before:bg-[url('/images/wallpapers/homepage-bgi.png')] before:bg-repeat before:opacity-[0.03] before:content-['']"
  >
    <%- include("partials/navbar.ejs") %>
    <main
      class="fixed top-22 grid h-[600px] w-full grid-cols-[2fr_3fr] grid-rows-[auto_1fr] justify-center gap-x-10 gap-y-4 px-8"
    >
      <section
        class="col-span-2 h-min"
        aria-labelledby="back-to-inventory-link"
      >
        <a
          class="hover:border-border-dark bg-primary-dark border-border-light text-text-light fill-text-light flex w-min items-center rounded-md border-2 px-2 py-0.5 font-medium shadow-sm transition-colors"
          id="back-to-inventory-link"
          href="/inventory"
        >
          <svg
            class="size-6"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <path
              d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z"
            />
          </svg>
          <span class="text-xs text-nowrap">Go back</span>
        </a>
      </section>
      <section aria-labelledby="product-image-heading">
        <div
          class="size-full overflow-hidden shadow-2xl"
          style="
            background:
              linear-gradient(white, white) padding-box,
              linear-gradient(
                  45deg,
                  oklch(0.3845 0.1586 332.64),
                  oklch(0.5662 0.1959 332.44)
                )
                border-box;
            border: 6px solid transparent;
          "
        >
          <img
            id="product-image-heading"
            class="size-full object-cover"
            src="<%= imgSrc %>"
            alt="<%= imgAlt %>"
          />
        </div>
      </section>
      <section class="relative" aria-labelledby="product-details-heading">
        <a
          class="hover:border-border-dark bg-primary border-border-light text-text-light fill-text-light absolute top-0 right-0 flex cursor-pointer gap-1 rounded-md border-2 p-2 px-2 py-0.5 text-sm shadow-sm transition-colors"
          href="/inventory/<%= urlName %>/edit"
        >
          <svg
            class="size-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <path
              d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"
            />
          </svg>
          <span class="font-medium">Edit</span>
        </a>
        <h2
          id="product-details-heading"
          class="text-text-dark text-3xl font-bold"
        >
          <%= name %>
        </h2>
        <small class="text-text-muted-dark"
          >Released at: <%= creationDate %></small
        >
        <p class="text-text-dark text-md my-4"><%= desc %></p>
        <span class="bold text-text-dark my-4 block text-2xl font-bold"
          ><%= formatPrice(price) %></span
        >
        <div class="my-4 flex flex-wrap gap-1">
          <% categories.forEach((category) => { %> <%-
          include('partials/tag.ejs', {...category}) %> <% }); %>
        </div>
        <div class="my-4 space-y-2">
          <div class="text-text-dark flex gap-1">
            <p><b>Animal:</b> <%= animal %></p>
          </div>
          <div class="text-text-dark flex gap-1">
            <p><b>Size:</b> <%= size %></p>
          </div>
          <div class="text-text-dark flex gap-1">
            <p><b>Squishiness:</b> <%= squishiness %></p>
          </div>
          <div class="text-text-dark flex gap-1">
            <p>
              <b>Materials:</b>
              <% materials.forEach((material, i) => { %> <%= material %><%= (i
              !== materials.length - 1) ? "," : "" %> <% }); %>
            </p>
          </div>
        </div>
        <div
          class="text-text-muted-light bg-text-light border-neutral-bg w-min rounded-md border-2 px-2 py-1 font-medium shadow-sm"
        >
          <span class="text-sm text-nowrap"
            >Stocks left: <%= stocksLeft %></span
          >
        </div>
      </section>
    </main>
  </body>
</html>
