<a
  class="bg-neutral-bg border-neutral-border text-neutral-text-dark relative h-96 max-h-96 w-52 cursor-pointer border-2 p-1.5 text-sm font-medium shadow-md hover:brightness-90"
  href="/inventory/<%= slug %>"
>
  <img
    class="h-3/5 w-full object-cover object-center"
    src="<%= imgSrc %>"
    alt="<%= imgAlt %>"
  />
  <h3 class="mt-2 font-medium"><%= name %></h3>
  <p class="text-xl font-bold"><%= formatPrice(price) %></p>
  <div class="mt-2 flex flex-wrap gap-1">
    <% categories.forEach(category => { %> <%- include('tag', {...category}) %>
    <% }); %>
  </div>
  <small class="text-neutral-text-muted absolute right-0 bottom-0 px-1 py-0.5"
    ><%= amountAvailable %> available</small
  >
</a>
