<% if (locals.isBigger) { %>
<div
  class="relative flex h-26 w-full items-center justify-center rounded-xl border-4 p-2 text-xl font-bold shadow-lg"
  style="
    /* E6 is the hex representation of 0.9 opacity in rgba */
    background-color: <%= bgColor %>;
    border-color: <%= borderColor %>;
    color: <%= textColor %>;
    fill: <%= textColor %>;
  "
>
  <div class="absolute top-0 right-0 flex gap-1 p-2">
    <button class="cursor-pointer">
      <svg
        class="size-5"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path
          d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"
        />
      </svg>
    </button>
    <button class="cursor-pointer">
      <svg
        class="size-5"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path
          d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"
        />
      </svg>
    </button>
  </div>
  <h2 class="overflow-x-hidden text-nowrap text-ellipsis"><%= name %></h2>
</div>
<% } else { %>
<span
  class="rounded-md px-1 py-0.5 text-xs font-medium text-nowrap shadow-sm sm:px-2 sm:py-1"
  style="
    background-color: <%= bgColor %>;
    color: <%= textColor %>;
    border: 1.5px solid <%= borderColor %>;
  "
>
  <%= name %>
</span>
<% } %>
