<% if (locals.isBigger) { %>
<div
  class="relative flex h-26 w-full items-center justify-center rounded-xl border-4 p-2 text-xl font-semibold shadow-lg"
  style="
    /* E6 is the hex representation of 0.9 opacity in rgba */
    background-color: <%= bgColor %>;
    border-color: <%= borderColor %>;
    color: <%= textColor %>;
    fill: <%= textColor %>;
  "
>
  <!-- Appears only when the users click the trash btn of the tag (delete btn) -->
  <div
    id="delete-popup-<%= slug %>"
    class="pointer-events-none absolute inset-0 flex items-center justify-center opacity-0 transition-opacity"
  >
    <h2 class="text-center">Delete?</h2>
    <div class="absolute top-0 right-0 flex gap-1 p-2">
      <a href="/delete/<%= slug %>" class="cursor-pointer">
        <svg
          class="size-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z" />
        </svg>
      </a>
      <button
        type="button"
        class="cursor-pointer"
        onclick="hideDeletePopup('<%= slug %>')"
      >
        <svg
          class="size-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path
            d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"
          />
        </svg>
      </button>
    </div>
  </div>

  <div
    id="<%= slug %>-container"
    class="pointer-events-auto overflow-x-auto opacity-100 transition-opacity"
  >
    <div class="absolute top-0 right-0 flex gap-1 p-2">
      <button type="button" class="cursor-pointer">
        <svg
          class="size-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path
            d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"
          />
        </svg>
      </button>
      <button
        type="button"
        class="cursor-pointer"
        onclick="showDeletePopup('<%= slug %>')"
      >
        <svg
          class="size-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path
            d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"
          />
        </svg>
      </button>
    </div>
    <h2 class="text-nowrap"><%= name %></h2>
  </div>
</div>
<script>
  // Global functions to show/hide delete popups by slug
  showDeletePopup = function (slug) {
    const deletePopup = document.getElementById(`delete-popup-${slug}`);
    const tagContainer = document.getElementById(`${slug}-container`);

    if (deletePopup) {
      deletePopup.style.opacity = 1;
      deletePopup.style.pointerEvents = "auto";
      tagContainer.style.opacity = 0;
      tagContainer.style.pointerEvents = "none";
    }
  };

  hideDeletePopup = function (slug) {
    const deletePopup = document.getElementById(`delete-popup-${slug}`);
    const tagContainer = document.getElementById(`${slug}-container`);

    if (deletePopup) {
      deletePopup.style.opacity = 0;
      deletePopup.style.pointerEvents = "none";
      tagContainer.style.opacity = 1;
      tagContainer.style.pointerEvents = "auto";
    }
  };
</script>
<% } else { %>
<span
  class="rounded-md px-1 py-0.5 text-xs font-medium text-nowrap shadow-sm sm:px-2 sm:py-1"
  style="
    background-color: <%= bgColor %>;
    color: <%= textColor %>;
    border: 1.5px solid <%= borderColor %>;
  "
>
  <%= name %>
</span>
<% } %>
